
<section style="width: 450px; max-width: 100%;" class="space-y-4">
  <section class="flex items-center justify-between space-x-4">
    <p class="text-lg font-medium">New Withdrawal</p>
    <button mat-icon-button (click)="close()"
      class="text-red-600 bg-red-300"
      tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <section class="block sm:flex items-center justify-between
    space-y-4 sm:space-y-0 sm:space-x-4">
    <div class="text-base">
      <p class="text-xs text-gray-600">Account Number</p>
      <p class="text-xl font-medium text-gray-900">
        {{data?.account?.accountNumber}}
      </p>      
    </div>
    <div>
      <p class="text-xs text-gray-600">Balance</p>
      <p class="text-xl font-medium text-gray-900">
        <strong class="text-gray-700">
          <span *ngIf="selectedCurrency.id == 'usd_currency'">USD</span>
          <span *ngIf="selectedCurrency.id == 'euro_currency'">EUR</span>
        </strong>
        {{parsedBalance}}
      </p>
    </div>
  </section>
  <section>
    <section>
      <form [formGroup]="form">
        <section class=" grid gap-y-4">
          <mat-form-field appearance="outline"
            class="w-full sm:w-3/9">
            <mat-label>Amount</mat-label>
            <input #input matInput
              required type="number"
              formControlName="amount" />
            <mat-hint>Make sure amount is not more than your balance</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline"
            class="w-full sm:w-3/9">
            <mat-label>Select Bank or Crypto</mat-label>
            <mat-select formControlName="bank">
              <mat-option *ngFor="let bank of banks"
                [value]="bank?.name">
                {{bank?.name}}
              </mat-option>
            </mat-select>
            <mat-hint>
              Select the bank you want to transfer to. We support Crypto.
            </mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline"
            class="w-full sm:w-3/9">
            <mat-label>Account Number or Crypto ID</mat-label>
            <input #input matInput required
              formControlName="accountNumber" />
              <mat-hint>
                The account number you want to receive this withdrawal
              </mat-hint>
          </mat-form-field>
        </section>
        <div class="text-right mt-4">
          <button mat-raised-button color="primary"
            [disabled]="isWithdrawing || form.invalid"
            (click)="withdraw(input.value)"
            class="w-full sm:w-2/6"
            style="height: 57px; margin-top: -18px;">
            WITHDRAW
          </button>
        </div>
      </form>
    </section>
    <p class="text-sm text-red-700 mt-4 sm:mt-0">{{errorMessage}}</p>
  </section>
</section>