<section>
  <p class="text-xl font-medium">View and Create Banks</p>
  <section class="flex items-start justify-between">
    <section>
      <p class="text-lg font-medium">Bank List</p>
      <ul>
        <li *ngFor="let bank of banks">
          <div class="flex items-center justify-between">
            <div>
              <p>{{bank?.name}}</p>
              <p class="text-xs text-gray-600">{{bank?.type | uppercase}}</p>
            </div>
            <button mat-icon-button (click)="deleteBank(bank.id, bank.name)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section>
      <app-create-bank (created)="OnBankCreated($event)"></app-create-bank>
    </section>
  </section>
</section>