
<div class="w-full bg-teal-700 p-2 text-white flex justify-end">
    <button mat-button>LOGOUT</button>
</div>

<div class="
flex 
items-start 
justify-center 
space-x-4
mx-auto border-2 m-3" style="width: 1000px; max-width: 100%;">
<div class="w-1/4 mt-16">
    <ul class="text-center">
        <li>
            <a mat-button routerLink="/admin/s/users" 
            routerLinkActive="active-left-menu-link" 
            class="left-menu-link">Users</a>
        </li>
        <li>
            <a mat-button routerLink="/admin/s/accounts" 
            routerLinkActive="active-left-menu-link" 
            class="left-menu-link">Accounts</a>
        </li>
        <li>
            <a mat-button routerLink="/admin/s/banks" 
            routerLinkActive="active-left-menu-link" 
            class="left-menu-link">Banks</a>
        </li>
        <li>
            <a mat-button routerLink="/admin/s/account-types" 
            routerLinkActive="active-left-menu-link" 
            class="left-menu-link">Account Types</a>
        </li>
    </ul>
    <ul class="text-center">
        <li>
            <a mat-button routerLink="/admin/s/currency-rates" 
            routerLinkActive="active-left-menu-link" 
            class="left-menu-link">Currency Rates</a>
        </li>
    </ul>
</div>
<div class="w-2/3 px-4 border-2">
    <router-outlet></router-outlet>
</div>
</div>