<div>
  <div id="header" class="bg-gray-200" (window:resize)="windowResized()">
    <div
      style="width: 1440px; max-width: 95%; margin: 0 auto"
      class="flex justify-between items-center"
    >
      <span class="space-x-4 flex items-center">
        <button mat-icon-button class="md:hidden" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <img src="../../assets/images/logo-square.png" style="height: 50px" />
      </span>

      <span>
        <span>
          <p style="font-size: 0.6rem">Currency</p>
          <button
            [matMenuTriggerFor]="menu"
            style="border: 1px solid rgb(185, 185, 185)"
          >
            <span class="flex items-center px-2 rounded-lg">
              <span>{{ selectedCurrency?.currency }}</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          </button>
        </span>

        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let currency of currencies"
            (click)="changeCurrency(currency)"
          >
            {{ currency?.currency }}
          </button>
        </mat-menu>

        <button
          class="left-menu-link text-black"
          mat-button
          (click)="logout()"
          routerLinkActive="active-left-menu-link"
        >
          Sign Out
        </button>
      </span>
    </div>
  </div>
  <mat-progress-bar
    [class.hide_progress]="(isLoading | async) === false"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div
  class="flex items-start justify-between space-x-8 mx-auto"
  style="width: 1440px; max-width: 95%; margin: 2rem auto"
>
  <mat-drawer-container class="w-full">
    <mat-drawer
      #drawer
      [opened]="isDrawerOpened"
      [mode]="drawerMode"
      style="width: 300px"
    >
      <div>
        <div class="mb-8 px-4">
          <span class="block mb-2">
            <p class="text-xs mb-1 font-thin font-sans text-gray-600">
              Welcome
            </p>
            <p class="text-lg font-semibold">
              {{ user.firstName }} {{ user.lastName }}
            </p>
          </span>

          <span>
            <p>{{ user.emailAddress }}</p>
            <p>{{ user.phoneNumber }}</p>
          </span>
        </div>
        <div>
          <span class="block px-4 pb-4">
            <p class="text-lg font-semibold">My Accounts</p>
            <p class="text-gray-600" style="font-size: 0.8rem">
              <span>Total: </span>
              <span class="text-gray-900">{{ bankAccounts?.length }}</span>
            </p>
          </span>
          <ul>
            <li *ngFor="let account of bankAccounts">
              <app-left-pane-account-item
                [account]="account"
                (selected)="showAccountDetail($event, drawer)"
              >
              </app-left-pane-account-item>
            </li>
          </ul>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="px-4 mr-4 bg-white">
      <div class="w-full">
        <div class="images flex items-center justify-center space-x-2 mb-4">
          <img class="max-w-full" src="../../assets/images/security_1.png" />
          <img class="max-w-full" src="../../assets/images/security_2.png" />
          <img class="max-w-full" src="../../assets/images/security_3.jpg" />
        </div>
        <p
          class="secure-indicator text-center my-4 text-green-600"
          style="font-size: 0.8rem; text-decoration: blink"
        >
          Your connection to our online portal is secured...
        </p>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
