
<div style="width: 600px; max-width: 100%;"
    class="space-y-4">
    <p class="text-lg font-medium">{{data?.title || 'Info'}}</p>
    <p class="text-base"
        [innerHTML]="data?.message || '<p>This is a description of the information</p>'">
    </p>
    <p class="text-base" [innerHTML]="data?.contactUs">
    </p>

    <span class="flex justify-end mt-4">
        <button mat-raised-button style="width: 80px;"
        class="p-2 bg-blue-600 text-white" (click)="close()">{{data?.okButtonText || 'OK'}}</button>
    </span>
</div>