<form [formGroup]="bankForm" (ngSubmit)="createBank()">
  <p class="text-lg font-medium">Add Bank</p>
  <section>
    <section class="grid grid-cols-1 gap-y-4">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-select required formControlName="type">
          <mat-option *ngFor="let bankType of bankTypes" [value]="bankType">
            {{bankType | uppercase }}
          </mat-option>
        </mat-select>
        <mat-label>Type</mat-label>
      </mat-form-field>
    </section>
    <section class="text-right">
      <button color="primary" mat-button
        [disabled]="bankForm.invalid">
        <span *ngIf="isCreating">SAVING...</span>
        <span *ngIf="!isCreating">SAVE</span>
      </button>
    </section>
  </section>
</form>