html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace; 
  font-size: 1em; 
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}

button,
input { 
  overflow: visible;
}

button,
select { 
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  line-height: 1.5; 
}

*,
::before,
::after {
  box-sizing: border-box; 
  border-width: 0; 
  border-style: solid; 
  border-color: #e2e8f0; 
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Serif";
  line-height: 1.2;
  color: #1761a0;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 2.125rem;
}

p {
  font-size: 1.375rem;
}

p .light {
  font-weight: 300;
}

.card p {
  font-size: 1.125rem;
}

.custom-container {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid lightgray;
}

.custom-container .header {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.custom-container .header p {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.custom-container .header p.light {
  font-weight: 300;
}

.banking-header {
  background-color: #1761a0;
}

.row {
  width: 1400px;
  max-width: 95%;
  margin: 0 auto;
}

.row.btf-title {
  width: 700px;
  max-width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.row.btf-title h2 {
  font-size: 3.125rem;
}

.row.btf-title p {
  padding: 1rem 0;
  font-size: 1.25rem;
}

.row .header {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.row .header p {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.row .header p.light {
  font-weight: 300;
}

header .jumbotron {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

header .jumbotron .nav-container {
  display: block;
  height: 100px;
}

header .jumbotron .content {
  width: 700px;
  max-width: 100%;
  padding: 0 2rem;
  color: #1761a0;
}

header .jumbotron .content h1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "PT Serif", "Times New Roman", Times, Courier, serif;
}

header .jumbotron .content p {
  color: black;
}

ul.checkmark-bullets, .list-checkmarks {
  text-align: left;
  list-style-position: inside;
  list-style-image: url(./assets/images/checkmark-primary.png);
}

.image-and-content-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image-and-content-row.flip-image {
  flex-direction: row-reverse;
}

.image-and-content-row.flip-image .content {
  margin-right: 0;
  margin-left: 1.5rem;
}

.image-and-content-row .content {
  width: 50%;
  margin-left: 0;
  margin-right: 1.5rem;
  padding: 0 1rem;
}

.image-and-content-row .content p, .image-and-content-row .content span.paragraphs {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.image-and-content-row .content ul {
  margin: 1rem 0;
}

.image-and-content-row .content ul li {
  font-size: 1.125rem;
  margin: 0.5rem 0;
}

.image-and-content-row .image-wrapper {
  width: 50%;
}

.image-and-content-row .image-wrapper img {
  max-width: 100%;
}

.image-and-dark-rect-content-row .dark-rect {
  background: #10416d;
  color: white;
  width: 60%;
  padding: 2rem;
  min-height: 400px;
  color: #fff;
  background-color: #10416d;
}

.image-and-dark-rect-content-row .dark-rect h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.image-and-dark-rect-content-row .dark-rect h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin-top: 2rem;
  background-color: #597688;
}

.image-and-dark-rect-content-row .dark-rect p, .image-and-dark-rect-content-row .dark-rect li {
  font-size: 1.125rem;
}

.image-and-dark-rect-content-row .dark-rect p {
  margin: 1rem 0;
  width: 70%;
}

.image-and-dark-rect-content-row .dark-rect .main-list .sub-list {
  margin: 2rem 1rem 2rem 3rem;
  list-style: disc;
}

.image-and-dark-rect-content-row .image-wrapper {
  width: 40%;
  height: 80%;
}

.image-and-dark-rect-content-row .image-wrapper div {
  position: relative;
  height: 100%;
}

.image-and-dark-rect-content-row .image-wrapper div img {
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  position: absolute;
}

.price-card {
  width: 437px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.price-card p {
  font-size: 1.125rem;
}

.price-card .header {
  height: 100px;
  padding: 1rem;
  background-color: #eee;
}

.price-card .header h4 {
  font-size: 1.875rem;
}

.price-card .footer {
  padding: 1rem 3rem;
  background-color: #eaeaea;
}

.price-card .footer .button {
  display: block;
}

.price-card .section {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.price-card .section ul p {
  display: inline-block;
}

.price-card .section.account-features {
  text-align: left;
}

.price-card .section.account-features h5 {
  font-size: 1.125rem;
  text-align: center;
  margin: 1rem 0;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

.price-card .section.account-features a {
  font-weight: 500;
  display: inline-block;
}

.btn {
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  vertical-align: middle;
  text-transform: uppercase;
}

.btn.btn-primary {
  color: #fff;
  border-color: #597688;
  background-color: #597688;
}

.btn.btn-outlined {
  outline: 2px solid #597688;
}

.icon-and-content-item-container {
  margin: 2rem auto;
  display: grid;
  grid-gap: 1.5rem;
  gap: 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.icon-and-content-shadow-card {
  width: 400px;
  max-width: 100%;
  min-height: 400px;
  height: 100%;
  box-shadow: 0 5px 8px rgba(24, 24, 24, 0.308);
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
}

.icon-and-content-shadow-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.icon-and-content-shadow-card .image-wrapper {
  height: 200px;
}

.icon-and-content-shadow-card .image-wrapper img {
  width: 100%;
}

.icon-and-content-shadow-card .content {
  padding: 2rem 1rem;
  text-align: center;
}

.icon-and-content-shadow-card .content h3 {
  font-size: 2.125rem;
}

.icon-and-content-shadow-card .content p {
  font-size: 1.125rem;
}

.more-info-card-container {
  margin: 2rem auto;
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.more-info-card {
  width: 400px;
  max-width: 100%;
  text-align: center;
  cursor: default;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.185);
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
}

.more-info-card .image-wrapper img {
  width: 100%;
}

.more-info-card .data-wrapper {
  padding: 2rem;
}

.more-info-card .data-wrapper h3 {
  font-size: 2.125rem;
  margin: 1rem 0;
}

.more-info-card .data-wrapper p {
  margin: 1rem 0;
  font-size: 1.125rem;
}

.more-info-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.title-shadow-card {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 3px 5px rgba(31, 31, 31, 0.432);
  text-align: center;
  transition: box-shadow 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
}

.title-shadow-card:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 8px rgba(31, 31, 31, 0.432);
}

.title-shadow-card h3 {
  font-size: 2.125rem;
  margin-bottom: 1rem;
}

.title-shadow-card p {
  font-size: 1.125rem;
}

.find-advisor-container {
  padding: 5rem 3rem;
  margin-bottom: 80px;
  background-color: #eaeaea;
}

.find-advisor-container .row .advisor-figure {
  margin-right: 80px;
}

.find-advisor-container .row .data p {
  margin: 2rem 0;
  font-size: 1.125rem;
}

.service-overview-list .card-and-image-container {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}

.service-overview-list .card-and-image-container.flipped {
  flex-direction: row-reverse;
}

.service-overview-list .card-and-image-container .data-wrapper {
  position: relative;
  width: 50%;
}

.service-overview-list .card-and-image-container .data-wrapper .data {
  z-index: 1;
  top: 10%;
  width: 110%;
  padding: 2rem;
  position: absolute;
  background-color: white;
}

.service-overview-list .card-and-image-container .data-wrapper .data.flip-right {
  right: 0;
}

.service-overview-list .card-and-image-container .data-wrapper h3 {
  font-size: 2.125rem;
}

.service-overview-list .card-and-image-container .data-wrapper h3::after {
  width: 100px;
  display: block;
  margin-top: 3rem;
  background-color: #1761a0;
  border: 4px solid #1761a0;
}

.service-overview-list .card-and-image-container .data-wrapper p {
  margin: 2rem 0;
  font-size: 1.125rem;
}

.service-overview-list .card-and-image-container .image-wrapper {
  width: 50%;
  position: relative;
}

.service-overview-list .card-and-image-container .image-wrapper:hover .image-overlay {
  opacity: 0.5;
}

.service-overview-list .card-and-image-container .image-wrapper img {
  max-height: 100%;
}

.service-overview-list .card-and-image-container .image-wrapper .image-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #1761a0;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
}

.gray-header-item {
  min-height: 400px;
  width: 400px;
  max-width: 100%;
  margin: 1rem;
  position: relative;
  border: 1px solid lightgray;
}

.gray-header-item .header {
  padding: 1rem;
  min-height: 120px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid lightgray;
}

.gray-header-item .header h3 {
  font-size: 2.125rem;
}

.gray-header-item .body .section {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.gray-header-item .body .section p {
  text-align: center;
  font-size: 1.2rem;
}

.gray-header-item .body .section ul {
  margin: 1.5rem 0;
}

footer .top-section {
  padding: 60px 100px;
  background-color: #1761a0;
}

footer .top-section h5 {
  font-size: 1.5rem;
  color: #fff;
  border-bottom: 1px solid #c2c2c2;
}

footer .top-section nav ul li a {
  color: #88cad0;
  cursor: pointer;
  text-decoration: none;
}

footer .top-section nav ul li a:hover {
  color: #fff;
}

footer .legal-section {
  border-top: 10px solid maroon;
  height: 600px;
  background-color: #fff;
  padding: 100px;
}

footer .legal-section h5 {
  font-size: 0.9375rem;
  color: #444;
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
}

footer .legal-section p {
  font-size: 14px;
}

.container {
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.space-y-2 > :not(template) ~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--space-y-reverse));
}

.space-x-2 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-4 > :not(template) ~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(1rem * var(--space-y-reverse));
}

.space-x-4 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(1rem * var(--space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--space-x-reverse)));
}

.space-y-6 > :not(template) ~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--space-y-reverse));
}

.space-x-6 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-8 > :not(template) ~ :not(template) {
  --space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(2rem * var(--space-y-reverse));
}

.space-x-8 > :not(template) ~ :not(template) {
  --space-x-reverse: 0;
  margin-right: calc(2rem * var(--space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--space-x-reverse)));
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-100 {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.bg-gray-200 {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.bg-gray-600 {
  --bg-opacity: 1;
  background-color: #718096;
  background-color: rgba(113, 128, 150, var(--bg-opacity));
}

.bg-red-300 {
  --bg-opacity: 1;
  background-color: #feb2b2;
  background-color: rgba(254, 178, 178, var(--bg-opacity));
}

.bg-red-600 {
  --bg-opacity: 1;
  background-color: #e53e3e;
  background-color: rgba(229, 62, 62, var(--bg-opacity));
}

.bg-yellow-600 {
  --bg-opacity: 1;
  background-color: #d69e2e;
  background-color: rgba(214, 158, 46, var(--bg-opacity));
}

.bg-green-400 {
  --bg-opacity: 1;
  background-color: #68d391;
  background-color: rgba(104, 211, 145, var(--bg-opacity));
}

.bg-green-800 {
  --bg-opacity: 1;
  background-color: #276749;
  background-color: rgba(39, 103, 73, var(--bg-opacity));
}

.bg-teal-700 {
  --bg-opacity: 1;
  background-color: #2c7a7b;
  background-color: rgba(44, 122, 123, var(--bg-opacity));
}

.bg-blue-200 {
  --bg-opacity: 1;
  background-color: #bee3f8;
  background-color: rgba(190, 227, 248, var(--bg-opacity));
}

.bg-blue-500 {
  --bg-opacity: 1;
  background-color: #4299e1;
  background-color: rgba(66, 153, 225, var(--bg-opacity));
}

.bg-blue-600 {
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}

.bg-blue-800 {
  --bg-opacity: 1;
  background-color: #2c5282;
  background-color: rgba(44, 82, 130, var(--bg-opacity));
}

.hover\:bg-gray-200:hover {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.hover\:bg-blue-600:hover {
  --bg-opacity: 1;
  background-color: #3182ce;
  background-color: rgba(49, 130, 206, var(--bg-opacity));
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.border-none {
  border-style: none;
}

.border-2 {
  border-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.self-center {
  align-self: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.list-inside {
  list-style-position: inside;
}

.list-disc {
  list-style-type: disc;
}

.m-0 {
  margin: 0;
}

.m-3 {
  margin: 0.75rem;
}

.m-8 {
  margin: 2rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mr-auto {
  margin-right: auto;
}

.max-w-full {
  max-width: 100%;
}

.outline-none {
  outline: 0;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.left-0 {
  left: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-black {
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.text-gray-600 {
  --text-opacity: 1;
  color: #718096;
  color: rgba(113, 128, 150, var(--text-opacity));
}

.text-gray-700 {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
}

.text-gray-900 {
  --text-opacity: 1;
  color: #1a202c;
  color: rgba(26, 32, 44, var(--text-opacity));
}

.text-red-600 {
  --text-opacity: 1;
  color: #e53e3e;
  color: rgba(229, 62, 62, var(--text-opacity));
}

.text-red-700 {
  --text-opacity: 1;
  color: #c53030;
  color: rgba(197, 48, 48, var(--text-opacity));
}

.text-green-600 {
  --text-opacity: 1;
  color: #38a169;
  color: rgba(56, 161, 105, var(--text-opacity));
}

.text-blue-600 {
  --text-opacity: 1;
  color: #3182ce;
  color: rgba(49, 130, 206, var(--text-opacity));
}

.text-blue-700 {
  --text-opacity: 1;
  color: #2b6cb0;
  color: rgba(43, 108, 176, var(--text-opacity));
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-1\/4 {
  width: 25%;
}

.w-8\/12 {
  width: 66.666667%;
}

.w-full {
  width: 100%;
}

.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}

.gap-6 {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.gap-y-4 {
  grid-row-gap: 1rem;
  row-gap: 1rem;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@media (min-width: 480px) {

  .sm\:space-y-0 > :not(template) ~ :not(template) {
    --space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(0px * var(--space-y-reverse));
  }

  .sm\:space-x-4 > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(1rem * var(--space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--space-x-reverse)));
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:mt-0 {
    margin-top: 0;
  }

  .sm\:w-2\/6 {
    width: 33.333333%;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:text-lg {
    font-size: 1.125rem;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .lg\:space-y-0 > :not(template) ~ :not(template) {
    --space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--space-y-reverse)));
    margin-bottom: calc(0px * var(--space-y-reverse));
  }

  .lg\:space-x-8 > :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(2rem * var(--space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--space-x-reverse)));
  }

  .lg\:flex-no-wrap {
    flex-wrap: nowrap;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}